.div-escanear-QR{
    display: none;
    width: 100%;
    height: 120%;
    background-color: blue;
    position: absolute;
    z-index: 100;
  

}
.mostrar-interfaz-QR{
    display: block;    
}

.cont-imagen-medalla{
    min-width: 200px;    
    max-width: 200px;     
    display:  flex;
    display:  block;
    margin: auto;
    align-content: center;
    text-align:  center;
}

/*interfaz escanear con CAMARA  QR*/
.div-interfaz-scanear-camara{
    
}
