


.cont-iconos-menu{	
	width: 100%;	
	text-align: center;		
	display: flex;				
	flex-wrap: wrap;		
	position: relative;	
	justify-content: center;	
}
.figure-container-iconos{				
	position: relative;	
	background-color: rgba(255, 255, 255, 0);
	border-color: rgb(71, 0, 50);
	/*border: 2px solid  rgba(0, 17, 2, 0.918);*/
	min-width: 70px;	
	max-width: 70px;    
	min-height: max-content;    
	max-height: max-content;	
	margin:  10px;			
}

.figure-container-iconos h1{
	color: rgb(255, 255, 255);
	font-size: 1em;
	margin-bottom: 0;	
	display:block	;	
	margin: auto;
}

.icono-opcion{	
	border-radius: 7%;
	width: 100%;
    display: block;	
}
	
