.figure-container{		
	position: relative;
	background-color: white;
	border-color: rgb(71, 0, 50);
	border-radius: 7%;
	border: 2px solid  rgba(0, 17, 2, 0.918);;
	min-width: 300px;	
	min-height: 100px;
    width: max-content;
    height: max-content;
	max-height: max-content;
	overflow: hidden;
	position: relative;			
}

figure h1{
	color: white;
	font-size: 0.5em;
	margin-bottom: 0;	
}
figure h2{
	color: white;
	font-size: 32px;
	padding-top: 10px;
	padding-bottom: 3.7px;
	background-color: black;
	opacity: 0.5;
}
.imagen-producto{
    width: 100%;
    display: block;
}
.div-imagen{
    
}