@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.logo{   
    cursor: pointer;
}   

    


/*///////////////////////////SOLO PC//////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 700px){	

  
    

  
    

    
}
/*//////////////////////////////////MOVIL/////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 700px){  

@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);
    
  

   
  


}